<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508693080420-jsvtipl2cp099859m554q0dk1t9rd0rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508693080420-jsvtipl2cp099859m554q0dk1t9rd0rs</string>
	<key>API_KEY</key>
	<string>AIzaSyBX_WXb8SpniI2pP7I1I7RgXx7UaNhZxMw</string>
	<key>GCM_SENDER_ID</key>
	<string>508693080420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vecher13.testProject</string>
	<key>PROJECT_ID</key>
	<string>testproject-99657</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-99657.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508693080420:ios:68e914e83783ff9106b271</string>
</dict>
</plist>